@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 40px auto;
}

.header {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.nav a {
    color:  hsl(236, 13%, 42%);
}

.nav a:hover {
    color: hsl(5, 85%, 63%);
}

.main{
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.left {
    flex: 3;
}

.left img {
    max-width: 100%;
    display: block;
    margin-bottom: 60px;
}

.hero {
    display: flex;
    gap: 80px;
}

.hero-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text{
    font-size: 80px;
    font-weight: 800;
    line-height: 85px;
}

.hero-paragraph {
    color: hsl(236, 13%, 42%);
    line-height: 30px;
}

.btn{
    display: inline-block;
    margin-top: 100px;
    width: 40%;
    background-color:hsl(5, 85%, 63%);
    padding: 17px;
    text-align: center;
    text-transform: uppercase;
    color: hsl(36, 100%, 99%);
    letter-spacing: 6px;
    font-size: 15px;
}

.btn:hover{
    background-color: hsl(240, 100%, 5%);
}

.right {
    flex: 1;
    background-color:hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 30px;
    display: flex;
    flex-direction: column;
}


.title {
    font-size: 40px;
    color: hsl(35, 77%, 62%);
    margin-bottom: 50px;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    flex: 1;
}

.news-item a {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    color: hsl(36, 100%, 99%);
}

.news-item p{
    line-height: 25px;
    margin-bottom: 50px;
    color: hsl(233, 8%, 79%);
}

.news-item {
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

.news-item:last-child{
    border: none;
}

.news-item a:hover{
    color:hsl(35, 77%, 62%);
}

.cards{
    margin-top: 60px;
    display: flex;
    gap: 100px;
}

.cards img{
    width: 120px;
}

.card {
    display: flex;
    gap: 30px;
}

.card-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.card-number{
    color: hsl(233, 8%, 79%);
    font-weight: 700;
    font-size: 40px;
}

.card-description a {
    font-weight: 800;
    font-size: 20px;
    color: hsl(240, 100%, 5%);
}

.card-description a:hover{
    color: hsl(5, 85%, 63%);
}

.card-description p{
    color: hsl(236, 13%, 42%);
    line-height: 30px;
}
